<div class="row">
    <div class="col-md-10">
        <section class="seccion">
            <div class="experiencia">
                <h1>Experiencia <i class="fa-solid fa-circle-plus"></i></h1>
            </div>
            <ul class="item-list">
               <li> <!--  *ngFor="let experiencia of experienciaList"> -->
                    <div class="logo-image-container">
                        <!-- <img class="logo-image" [src]="experiencia.img"/> -->
                    </div>
                    <div class="list-info">
                        <div>
                            <h3>Hacer experiencia</h3>
                        </div>
                    </div>            
                </li>        
            </ul>
        </section>
    </div>
</div>
