<footer id="footer">
    <div class="container">
        <div class="row">
            <div id="Contacto" class="col-md-3 widget">
                <h3 class="widget-title">Contactate</h3>
                <div id="contact">
                    <div id="contact-form">
                        <form method="POST" action="https://formspree.io/email@email.com">
                            <input type="hidden" name="_subject" value="Contact request from personal website" />
                            <input type="email" name="_replyto" placeholder="Tu mail" required>
                            <textarea name="message" placeholder="Tu mensaje" required></textarea>
                            <button type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 widget">
                <h3 class="widget-title">Redes sociales</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href=""><img src="../../../assets/facebook.png" id="logo"></a>
                        <a href=""><img src="../../../assets/instagram.png" id="logo"></a>
                        <a href=""><img src="../../../assets/linkedin.png" id="logo"></a>
                        <a href=""><img src="../../../assets/github.png" id="logo"></a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 widget">
                <div class="text-center">
                <h3>Agustin Acuña</h3>
                <h3>Argentina Programa 2022 ©</h3>
            </div>
            </div>
        </div>
    </div>
</footer>
