<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
              <a id="sobremi"></a><h2 class="heading">Sobre Mí</h2>
            </div>
            <div class="col-md-9">
                <p> Mi nombre es Agustin, tnego 26, soy de la ciudad de Tandil, estudio ingeniería, y estoy haciendo mi portfolio
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat. Donec
                    eu vehicula neque. Donec viverra lorem nunc, tempus euismod eros sollicitudin ut. Quisque et tincidunt libero. Donec id pharetra justo. Proin euismod lacinia dolor, eu scelerisque justo tempus pharetra. Vivamus nunc justo, finibus
                    ut nisl sed, euismod rhoncus nulla. Proin sed magna egestas, egestas ante et, congue eros. In consequat, mauris dapibus tincidunt suscipit, ex libero aliquet diam, at maximus risus enim non leo. 
                    <a href="#" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </p>                  
                <button  type="button" class="btn btn-sm btn-outline-success px-4"><a href="https://docs.google.com/document/d/1UjzYPmKhG3yICcg19jb21jwbMyyEBrbRdJg-w0onSu0/edit?usp=sharing" target="_blank"></a>Curriculum Vitae</button>
            </div>
        </div>
    </div>
  </div>