<div class="row">
  <div class="col-md-10">
      <section class="seccion">
          <div class="proyectos">
              <h1>Proyectos <i class="fa-solid fa-circle-plus"></i></h1>
          </div>
          <ul class="item-list">
            <li *ngFor="let proyecto of proyectoList">
                  <div class="logo-image-container">
                      <!-- <img class="logo-image" [src]="education.img"/> -->
                  </div>
                  <div class="list-info">
                      <div>
                        <h3><u>{{proyecto.name}} </u> <a href="#" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a></h3>
                        <h6>{{proyecto.company}}</h6>
                        <h4>{{proyecto.start}}-{{proyecto.end}}</h4>
                      </div>
                  </div>            
              </li>        
          </ul>
      </section>
  </div>
</div>