<header>
<div class="row">
  <div class="col-md-4">
    <div class="text-box">
      <h3>Portfolio</h3>
      <h1>Agustin Acuña</h1>
      <p class="descripcion">Full Stack developer, estudiante <br> 
      </p>
      <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </div>
  </div>
</div>  
  <div class="col-md-8">
    <div id="info-img">
      <img class="profile-image" src="../../../assets/profile.jpg"/>
  </div>
</div>
</div>
</header>