header{
    padding-bottom: 100px;
}
.row{
    padding-bottom:10px;
    padding-left: 150px;
}
.profile-image{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius:150px;
    margin-top: 300px;
    margin-right: 500px;
}
.profile-image:hover{
    filter: blur(2px);
}
header{
    width:auto;
    height:auto;
    background-color: black;
}
.text-box {
    color:white;
    position: absolute;

    top: 40%;
    margin-left: 5%;
    line-height: 1.5;
}
