<nav>
  
  <ul class="nav justify-content-center">
    <li>
       <div>
        <app-logo></app-logo>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#Acerca-de-mi">Acerca de mi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Experiencia">Experencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Educacion">Educacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Proyectos">Proyectos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#Skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Contacto">Contacto</a>
      </li>
      <button type="button" id="log" class="btn btn-outline-light btn-sm">
        Log in
      </button>
  </ul>
</nav>
